<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carethy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <application
        android:name="com.carethy.application.Carethy"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.carethy.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.carethy.activity.DisplayResultActivity"
            android:parentActivityName="com.carethy.activity.MainActivity" >
        </activity>
        <activity
            android:name="com.carethy.activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.carethy.activity.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName="com.carethy.activity.LoginActivity" >
        </activity>
        <activity
            android:name="com.carethy.activity.TermsConditionsActivity"
            android:label="@string/title_activity_terms"
            android:parentActivityName="com.carethy.activity.RegisterActivity" >
        </activity>
        <activity
            android:name="com.carethy.activity.PasswordRecoveryActivity"
            android:label="@string/title_activity_password_recovery"
            android:parentActivityName="com.carethy.activity.LoginActivity" >
        </activity>
        <activity
            android:name="com.carethy.activity.EditMedicationActivity"
            android:label="@string/title_activity_create_medication"
            android:parentActivityName="com.carethy.activity.MainActivity" >
        </activity>
        <activity
            android:name="com.carethy.notification.DisplayMessageActivity">
        </activity>

        <activity android:name="com.carethy.alarmclock.AlarmScreen" />
        
        <activity android:name="com.carethy.alarmclock.AlarmDetailsActivity" />

        <service android:name="com.carethy.alarmclock.AlarmService" 
            android:enabled="true"/>
        
        <receiver android:name="com.carethy.alarmclock.AlarmManagerHelper" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name="AlarmReceiver">
            <intent-filter>
               <action android:name="com.carethy.alarmclock.ALARM_ALERT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.carethy.receiver.RecomAlarmReceiver" >
        </receiver>
        
        <provider
            android:name=".contentprovider.MedicationContentProvider"
            android:authorities="com.carethy.contentprovider"
            android:exported="false" >
        </provider>

        <receiver android:name="AlarmInitReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>
        
    </application>

</manifest>